<div class="col-md-12 pl-3 pb-3">
    <nav class="navbar navbar-light" style="background-color: #17a2b8; width: 100%">
        <ul class="nav">
            <li class="nav-item">
              <a routerLink="/add-project" class="nav-link active">Add Project</a>
            </li>
            <li class="nav-item">
              <a routerLink="/add-task" class="nav-link"> Add Task</a>
            </li>
            <li class="nav-item">
              <a routerLink="/add-user" class="nav-link"> Add User</a>
            </li>
            <li class="nav-item">
              <a routerLink="/view-task" class="nav-link"> View Task</a>
            </li>
          </ul>
      </nav>
  
</div>