<h4 class="col-md-4 pl-6 pb-4"> {{title}}</h4>
<div class="col-md-12">
  <ngb-alert *ngIf="invalid && errors" type="danger" (close)="errors = null;">
    <li *ngFor="let error of errors">{{error}}</li>
  </ngb-alert>
  <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">
      {{ successMessage }}
    </ngb-alert>
</div>
<form name="form" (ngSubmit)="onSubmitProject(f)" #f="ngForm" novalidate>
  <div class="form-horizontal col-md-8">
    <div class="form-group row">
      <label for="projectName" class="col-md-2 col-form-label">Project:</label>
      <div class="col-md-6">
        <input type="text" class="form-control" name="projectName" [(ngModel)]="projectInfo.ProjectName"
          #projectName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && projectName.invalid }" required />
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-2 col-md-6 form-check">
        <input type="checkbox" class="form-check-input" name="IsDateRequired" [(ngModel)]="IsDateRequired"
          (change)='setdate(IsDateRequired)'>
        <label class="form-check-label"> Set Start and End Date</label>
      </div>
    </div>
    <div class="form-group row">
      <label for="startDate" class="col-md-2 col-form-label">Start Date:</label>
      <div class="col-md-6">
        <input type="date" class="form-control" date-date-format="dd-MM-yyyy" name="startDate"
          [(ngModel)]="projectInfo.StartDate" #startDate="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && startDate.invalid && !IsDateRequired}" [disabled]="!IsDateRequired"
          required />
      </div>
    </div>
    <div class="form-group row">
      <label for="endDate" class="col-md-2 col-form-label">End Date</label>
      <div class="col-md-6">
        <input type="date" class="form-control" name="endDate" [(ngModel)]="projectInfo.EndDate" #endDate="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && endDate.invalid && !IsDateRequired }" [disabled]="!IsDateRequired"
          required />
      </div>
    </div>
    <div class="form-group row">
      <label for="priority" class="col-md-2 col-form-label">Priority:</label>
      <div class="col-md-6">
        <input type="range" class="form-control-range slider" min="1" max="30" step="1" name="priority"
          #priority="ngModel" [ngClass]="{ 'is-invalid': f.submitted && priority.invalid }"
          [(ngModel)]="projectInfo.Priority" required />
      </div>
    </div>
    <div class="form-group row">
      <label for="projectName" class="col-md-2 col-form-label">Manager:</label>
      <div class="col-md-6">
        <ng-select2 [(ngModel)]="projectInfo.UserID" placeholder="Select Manager" name="userId" #userId="ngModel"
          style="width:100%" [ngClass]="{ 'is-invalid': f.submitted && userId.untouched }" required>
          <option [value]="-1">Select Manager</option>
          <option *ngFor="let user of usersdata" [value]="user.UserID">{{user.FirstName +' '+ user.LastName}}</option>
        </ng-select2>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-2 col-md-6 pl-3">
        <button type="submit" class="btn btn-info btn-sm" id="btnAddTask">{{btnText}}</button>
        <button type="button" (click)="resetProject()" *ngIf="!edited" class="btn btn-info btn-sm ml-2"
          id="btnReset">Reset</button>
        <button type="submit" (click)="cancel()" *ngIf="edited" class="btn btn-info btn-sm ml-2"
          id="btnCancel">Cancel</button>
      </div>
    </div>
  </div>
</form>
<hr>
<div class="form-group row">
  <span class="pl-4">Search:</span>
  <div class="col-md-3">
    <input type="text" class="form-control" id="search" [(ngModel)]="searchText" placeholder="Search...">
  </div>
</div>
<div class="col-md-12 col-sm-12">
  <table id="tblprojects" class="table dataTable table-striped table-borderless row-border hover">
    <thead>
      <tr>
        <th (click)="sortProjects('ProjectName')" [ngClass]="getSortClass('ProjectName')" class="sorting">Project</th>
        <th (click)="sortProjects('Priority')" [ngClass]="getSortClass('Priority')" class="sorting">Priority</th>
        <th (click)="sortProjects('StartDate')" [ngClass]="getSortClass('StartDate')" class="sorting">StartDate</th>
        <th (click)="sortProjects('EndDate')" [ngClass]="getSortClass('EndDate')" class="sorting">EndDate</th>
        <th (click)="sortProjects('UserID')" [ngClass]="getSortClass('UserID')" class="sorting">ManagerID</th>
        <th (click)="sortProjects('NoOfTasks')" [ngClass]="getSortClass('NoOfTasks')" class="sorting"> NoOfTasks</th>
        <th (click)="sortProjects('CompletedTask')" [ngClass]="getSortClass('CompletedTask')" class="sorting">
          CompletedTask</th>
        <th class="edit-btn"></th>
        <th class="delete-task-btn"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projectsdata|projectfilter:searchText |orderBy:sortColumn:reverseSort">
        <td>{{project.ProjectName}}</td>
        <td>{{project.Priority}}</td>
        <td>{{project.StartDate | date:'dd/MM/yyyy'}}</td>
        <td>{{project.EndDate | date:'dd/MM/yyyy' }}</td>
        <td>{{project.UserID}}</td>
        <td>{{getNoofTask(project.ProjectID)}}</td>
        <td>{{getcompletedTask(project.ProjectID,project)}}</td>

        <td>
          <button (click)="editProject(project)" class="btn btn-info btn-sm">Update</button>
        </td>
        <td>
          <button (click)="deleteProject(project.ProjectID)" class="btn btn-info btn-sm">Suspend</button>
        </td>
      </tr>
      <tr *ngIf="noRecordFound">
        <td class="empty-table"> {{noRecordFound}}</td>
      </tr>
    </tbody>
  </table>
</div>